body{
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

a{
  text-decoration: none;
  color: #000;
}

header{
  width: 100%;
  background: #0bf;

}

.head-flex{
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

header h1{
  font-size: 36px;
  font-weight: normal;
}

main{
  padding-top: 30px;
  width: 100%;
}

.top{
  width: 90%;
  margin-bottom: 100px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.top h1{
  height: 35px;
  line-height: 35px;
  font-size: 20px;
  padding-left: 20px;
  background: rgba(0, 187, 255, 0.5);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.thread{
  margin-top: 10px;
}

.list{
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
  list-style: none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.add{
  width: 90%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.comment-all{
  margin-top: 50px;
  margin-bottom: 100px;
}

.comment-all h1{
  font-size: 30px;
  margin-bottom: 20px;
  border-top: 1px solid rgba(0,0,0,0.5);
  border-bottom: 1px solid rgba(0,0,0,0.5);
}

.comm{
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

.comm span{
  font-size: 9px;
  color: rgba(0,0,0,0.3)
}

.error{
  color: red;
}
