<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Polls</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
  </head>
  <body>
    <table>
      <tr>
        <th>質問内容</th>
        <th>公開日</th>
      </tr>
      {% for question in latest_question_list %}
      <tr>
        <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></td>
        <td>{{ question.pub_date }}</td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
